-#= form_tag player_choose_faction_save_path( @player ) do |f|

= form_with model: @player, url: player_choose_faction_save_path( @player ), local: true do |f|

  -#%b
  -#  Faction
  -#= select_tag(:faction, options_for_select(@select_factions_options), class: 'form-control')

  .form-group.mt-3
    = f.label :choose_faction, t( '.choose_faction' )

    .btn-group-toggle{ 'data-toggle' => 'buttons' }

      - if !@selected_bloc || @selected_bloc == :chaos
        .row
          .col-4
            %label.btn.btn-light.btn-block.active
              %input#option1{name: 'faction', value: :royaumes, type: :radio, autocomplete: :off, checked: true }
                = t( 'faction.royaumes' )
          .col-4
            %label.btn.btn-light.btn-block
              %input#option2{name: 'faction', value: :nature, type: :radio, autocomplete: :off }
                = t( 'faction.nature' )
          .col-4
            %label.btn.btn-light.btn-block
              %input#option3{name: 'faction', value: :souterrains, type: :radio, autocomplete: :off }
                = t( 'faction.souterrains' )

      - if !@selected_bloc || @selected_bloc == :order
        .row
          .col-4
            %label.btn.btn-light.btn-block
              %input#option4{name: 'faction', value: :morts, type: :radio, autocomplete: :off }
                = t( 'faction.morts' )
          .col-4
            %label.btn.btn-light.btn-block
              %input#option5{name: 'faction', value: :outremonde, type: :radio, autocomplete: :off }
                = t( 'faction.outremonde' )
          .col-4
            %label.btn.btn-light.btn-block
              %input#option6{name: 'faction', value: :horde, type: :radio, autocomplete: :off }
                = t( 'faction.horde' )

  .actions.mt-2
    = submit_tag t( '.choose' ), class: 'btn btn-secondary'