%h1= t('.title')

= form_tag player_schedule_movements_save_path( @player ) do

  %table.table
    %thead
      %tr
        %th= t('.gang')
        %th= t('.current_position')
        %th= t('.movement_1')
        %th= t('.movement_2')
    %tbody#sortable_gangs_table
      - @gangs.each do |gang|
        %tr{ gang_id: gang.id }
          %td= gang.name
          %td= gang.location
          %td= select_tag( "gang_movement[1][#{gang.id}]", options_for_select( available_movements( gang.location ), get_movement( gang, 0 ) ), { include_blank: true, class: 'form-control linked_select', original_location: gang.location } )
          %td= select_tag( "gang_movement[2][#{gang.id}]", options_for_select( available_movements( get_movement( gang, 0 ) ), get_movement( gang, 1 ) ), { include_blank: true, class: 'form-control' } )

  = hidden_field_tag :gangs_order, @gangs.pluck( :id ).join( ',' )

  .actions
    = submit_tag t('.save') , class: 'btn btn-primary'
    = submit_tag t('.validate') , class: 'btn btn-danger', name: :validate

= hidden_field_tag :prepared_movements_options_for_select, GameRules::Map.prepared_movements_options_for_select.to_json