%p#notice= notice

= link_to 'Ajouter une bande', new_campaign_gang_path( @campaign ), class: 'btn btn-light btn-lg', role: 'button', 'aria-disabled' => 'true'

%hr

.row

  .col-3
    %button.btn.btn-secondary.btn-block{ type: :button }
      Joueur
      %span.badge.badge-light
        = @player.user.name

  .col-3
    %button.btn.btn-secondary.btn-block{ type: :button }
      PP
      %span.badge.badge-light
        = @player.pp

%br

%table.table
  %thead
    %tr
      %th Bande
      %th Points
      %th Position
      %th
      %th

  %tbody
    - @player.gangs.order( 'updated_at DESC' ).each do |gang|
      %tr
        %td
          = image_tag( 'gangs_icons/' + gang.icon, class: 'gang_icon' )
        %td= gang.points
        %td
          - l = @localisations.map{ |l| [l, "#{l}##{gang.id}"] }
          = select_tag('select_location', options_for_select(l, "#{gang.location}##{gang.id}"))
        %td= link_to 'Modifier la composition', campaign_gang_units_path( @campaign, gang )
        %td= link_to 'Supprimer', [ @campaign, gang ], method: :delete, data: { confirm: 'Etes-vous sur de vouloir supprimer cette bande ?' }