= form_with model: @unit, url: '' do |f|
  - if @unit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@unit.errors.count, "error")} prohibited this unit from being saved:"
      %ul
        - @unit.errors.full_messages.each do |message|
          %li= message

  %b
    Type d'unité
  = select_tag( :libe, options_for_select( @unit_select_options_for_faction, @unit.libe ), class: 'form-control')

  %b
    Arme
  = select_tag( :weapon, [], class: 'form-control')

  -#= f.text_field :amount

  .mt-3

  -# In case we need autocompletion, here are something : https://bootstrap-autocomplete.readthedocs.io/en/latest/
  .row
    .col-3
      = f.number_field :amount, class: 'form-control', placeholder: 'Nombre de figurines'

    .col-2
      = f.number_field :points, class: 'form-control', placeholder: 'Points', readonly: true

  .actions
    = f.submit 'Save', class: 'btn btn-light'

= hidden_field_tag :weapon_select_options_prepared_strings, @weapon_select_options_prepared_strings.to_json
= hidden_field_tag :units_data, @units.to_json