%h1 Listing units

%table.table
  %thead
    %tr
      %th Nombre
      %th Unité
      %th Points
      -#%th
      -#%th
      %th

  %tbody
    - @units.each do |unit|
      %tr
        %td= unit.amount
        %td= unit.libe
        %td= unit.points
        -#%td= link_to 'Show', unit
        -#%td= link_to 'Edit', edit_unit_path(unit)
        %td= link_to 'Supprimer', [@campaign, @gang, unit], method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette unité ?' }

%br

= link_to 'Ajouter une unité', new_campaign_gang_unit_path( @campaign, @gang )
