%h1 Liste des unités de la bande

%table.table
  %thead
    %tr
      %th Nombre
      %th Unité
      %th Type
      %th Nom
      %th Points
      -#%th
      -#%th
      %th

  %tbody
    - @units.each do |unit|
      %tr
        %td= unit.amount
        %td= I18n.t( "units.#{unit.libe}" )
        %td= I18n.t( "weapon.#{unit.weapon}" )
        %td= unit.long_name.upcase_first
        %td= unit.points
        -#%td= link_to 'Show', unit
        %td= link_to 'Modifier', edit_unit_path(unit), class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'
        %td= link_to 'Supprimer', unit, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cette unité ?' }, class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'

    %tr
      %td
      %td
      %td
      %td= @gang.points
      -#%td= link_to 'Show', unit
      %td
      %td


%br

= link_to 'Ajouter une unité', new_gang_unit_path( @gang ), class: 'btn btn-secondary', role: 'button', 'aria-disabled' => 'true'
