%table.table
  %thead
    %tr
      %th Unité
      %th Pertes
      %th Unité détruite
      %th Reste
      %th Remonte à

  %tbody
    - bc&.each do |casualty|
      %tr{ class: fight_table_color( casualty ) }
        %td= casualty.name.upcase_first
        %td= casualty.units_lost
        %td= casualty.destroyed? ? 'Oui' : 'Non'
        %td= casualty.remaining_units
        %td= casualty.recover_to

