= link_to( 'Lancer un combat', new_campaign_fight_path( @campaign ),
          class: 'mt-3 btn btn-secondary', role: 'button', 'aria-disabled' => 'true' )

%hr

%h2 Liste des combats

%table.table
  %thead
    %tr
      %th Lieu

      %th Attaquant
      %th Défenseur

      %th Date

  %tbody
    - @fights.each do |f|
      %tr
        %td= f.location

        %td= participant_libe( f.fight_data[:attacker], f.fight_data[:attacker_gang_no] )
        %td= participant_libe( f.fight_data[:defender], f.fight_data[:defender_gang_no] )

        %td= link_to( l( f.updated_at.localtime, format: :long ).capitalize, campaign_fight_path( @campaign, f ),
          class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true' )