%h1 Démarrer un combat

%table.table
  %thead
    %tr
      %th Localisation
      %th Attaquant
      %th Defenseur
      %th
  %tbody
    - @fights.each do |fight|
      %tr
        %td= fight.location
        %td= new_combat_libe(fight.attacker)
        %td= new_combat_libe(fight.defender)
        %td= link_to 'Lancer', campaign_fights_path( @campaign, attacker: fight.attacker.id, defender: fight.defender.id ), method: :post, class: 'mt-2 btn btn-secondary btn-sm'

      -# Defender and attacker are swapped here.
      %tr
        %td= fight.location
        %td= new_combat_libe(fight.defender)
        %td= new_combat_libe(fight.attacker)
        %td= link_to 'Lancer', campaign_fights_path( @campaign, defender: fight.attacker.id, attacker: fight.defender.id ), method: :post, class: 'mt-2 btn btn-secondary btn-sm'
