- @fight.fight_log.each do |fl|

  %h2= "Tour #{ fl[ :round ] }"

  - fl[:turns_log].each do |tl|

    %h3= "Tour de #{ tl[ :turn_of ] }"

    - tl[ :turn_log ].each do |log|

      %p
        = log

      - unless log[:can_attack][:can_attack]
        %p= pass_detail( log )

      - else
        %p= fight_detail( log, :attack )

        - if log[:combat_result][:retaliation]
          %p= fight_detail( log, :retaliation )

        %p= hits_detail( log )

      %hr