%h1
  Gagnant :
  = @result.winner

%hr

%h2= "Pertes de l'attaquant #{@result.attacker_name}"
= render partial: 'dead_miniatures', locals: { bc: @result.attacker_body_count }
%hr

%h2= "Pertes du défenseur #{@result.defender_name}"
= render partial: 'dead_miniatures', locals: { bc: @result.defender_body_count }

%hr

%h2= "Score de l'attaquant #{@result.attacker_name} : #{@result.attacker_points_total} points"

%table.table
  %tbody
    - @result.attacker_points_list.each do |libe|
      %tr
        %td= libe

%hr

%h2= "Score du défenseur #{@result.defender_name} : #{@result.defender_points_total} points"

%table.table
  %tbody
    - @result.defender_points_list.each do |libe|
      %tr
        %td= libe

%hr
%hr

- @fight.fight_log.each do |fl|

  %h2= "Tour #{ fl[ :round ] }"

  - fl[:turns_log].each do |tl|

    %h3= "Tour de #{ tl[ :turn_of ] }"

    - tl[ :turn_log ].each do |log_detail|

      -#%p
      -#  = log

      - unless log_detail.can_attack.can_attack
        %p= pass_detail( log_detail )

      - else
        %p= fight_detail( log_detail, :attack )

        - if log_detail.combat_result.retaliation
          %p= fight_detail( log_detail, :retaliation )

        %p= hits_detail( log_detail )

      %hr