%h1
  Gagnant :
  = @result.winner

%hr

%h2= "Pertes de l'attaquant : #{@fight_data.attacker} (#{@fight_data.attacking_gang_name})"
= render partial: 'dead_miniatures', locals: { bc: @casualties.attacker, total_score: @result.defender_points_total, total_name: 'Score du defenseur' }
%hr

%h2= "Pertes du défenseur : #{@fight_data.defender} (#{@fight_data.defending_gang_name})"
= render partial: 'dead_miniatures', locals: { bc: @casualties.defender, total_score: @result.attacker_points_total, total_name: "Score de l'attaquant" }
