%h1
  Gagnant :
  = @result.winner

%hr

%h2= "Pertes de l'attaquant : #{@fight_data.attacker} (#{@fight_data.attacking_gang_name})"
= render partial: 'dead_miniatures', locals: { bc: @casualties.attacker }
%hr

%h2= "Pertes du défenseur : #{@fight_data.defender} (#{@fight_data.defending_gang_name})"
= render partial: 'dead_miniatures', locals: { bc: @casualties.defender }

%hr

%h2= "Score de l'attaquant #{@result.attacker_name} : #{@result.attacker_points_total} points"

%table.table
  %tbody
    - @result.attacker_points_list.each do |libe|
      %tr
        %td= libe

%hr

%h2= "Score du défenseur #{@result.defender_name} : #{@result.defender_points_total} points"

%table.table
  %tbody
    - @result.defender_points_list.each do |libe|
      %tr
        %td= libe

-#%hr
-#%hr
-#
-#- @fight.fight_log.each do |fl|
-#
-#  %h2= "Tour #{ fl.round }"
-#
-#  %h3= "Tour de #{ fl.attacker_name }"
-#  = render partial: 'opponent_turn_detail', locals: { tl: fl.attacker }
-#
-#  %h3= "Tour de #{ fl.defender_name }"
-#  = render partial: 'opponent_turn_detail', locals: { tl: fl.defender }
