%h1
  Gagnant :
  = @result.winner

%hr

%h2= "Score de l'attaquant #{@result.attacker_name} : #{@result.attacker_points_total} points"

%table.table
  %tbody
    - @result.attacker_points_list.each do |libe|
      %tr
        %td= libe

%hr

%h2= "Score du défenseur #{@result.defender_name} : #{@result.defender_points_total} points"

%table.table
  %tbody
    - @result.defender_points_list.each do |libe|
      %tr
        %td= libe

%hr
%hr

- @fight.fight_log.each do |fl|

  %h2= "Tour #{ fl[ :round ] }"

  - fl[:turns_log].each do |tl|

    %h3= "Tour de #{ tl[ :turn_of ] }"

    - tl[ :turn_log ].each do |log|

      -#%p
      -#  = log

      - unless log[:can_attack][:can_attack]
        %p= pass_detail( log )

      - else
        %p= fight_detail( log, :attack )

        - if log[:combat_result][:retaliation]
          %p= fight_detail( log, :retaliation )

        %p= hits_detail( log )

      %hr