%h1= t( '.title' )

- @campaign.players.order( :id ).includes( :user ).each do |player|

  %table.table
    %thead
      %tr
        %th
          = t( '.controller', player_name: player.user.name )
        %th
          = t( '.score' )
    %tbody
      - total = 0
      - player.controls_points&.sort&.each do |control|
        %tr
          %td= control
          %td= @map.position_value( control )
          - total += @map.position_value( control )
      %tr
        %td
          %b= t( '.total' )
        %td
          %b= total

      - maintenance = GameRules::ControlPoints.maintenance_cost( player )
      %tr
        %td
          %b= t('.maintenance')
        %td
          %b= maintenance

      %tr
        %td
          %b= t('.remains')
        %td
          %b= total - maintenance


