%h1 Liste des points controlés

- @campaign.players.includes( :user ).each do |player|

  %table.table
    %thead
      %tr
        %th
          = "Lieux controllés par #{player.user.name}"
        %th
          Points
    %tbody
      - total = 0
      - player.controls_points&.sort&.each do |control|
        %tr
          %td= control
          %td= @map.position_value( control )
          - total += @map.position_value( control )
      %tr
        %td
          %b Total
        %td
          %b= total

      - maintenance = compute_maintenance( player )
      %tr
        %td
          %b Maintenance
        %td
          %b= maintenance

      %tr
        %td
          %b Reste
        %td
          %b= total - maintenance


