%h1 Liste des campagnes

%table.table
  %thead
    %tr
      %th Créateur
      %th Nom de la campagne
      %th
      %th
      %th

  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= campaign.user.name
        %td= campaign.name
        %td= link_to 'Détail', campaign
        %td= link_to 'Modifier', edit_campaign_path(campaign)
        %td= link_to 'Supprimer', campaign, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nouvelle campagne', new_campaign_path, class: 'btn btn-light btn-lg', role: 'button', 'aria-disabled' => 'true'


