%h1= t( '.title' )

%table.table
  %thead
    %tr
      %th= t( '.owner' )
      %th= t( '.name' )
      %th= t( '.status_title' )
      %th
      -#%th
      -#%th

  %tbody
    - @campaigns.includes([:user]).each do |campaign|
      %tr
        %td= campaign.user.name
        %td= campaign.name
        %td= t( '.status.' + campaign.aasm_state )

        %td
          = link_to t( '.details' ), get_detail_path( campaign ), class: 'btn btn-secondary btn-sm btn-block', role: 'button', 'aria-disabled' => 'true'
        -#%td= link_to 'Renommer', edit_campaign_path(campaign), class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'
        -#%td= link_to 'Supprimer', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'

= link_to t( '.new' ), new_campaign_path, class: 'btn btn-secondary', role: 'button', 'aria-disabled' => 'true'


