%h1= t( '.title' )

.table-responsive
  %table.table
    %thead
      %tr
        %th.d-none.d-lg-table-cell= t( '.owner' )
        %th= t( '.name' )
        %th= t( '.status_title' )
        %th
        -#%th
        -#%th

    %tbody
      - @campaigns.includes(:user, { winner: :user }).each do |campaign|
        %tr
          %td.d-none.d-lg-table-cell= campaign.user.name
          %td= campaign.name

          %td.d-table-cell.d-lg-none= t( '.status-mobile.' + campaign.aasm_state )
          %td.d-none.d-lg-table-cell= t( '.status.' + campaign.aasm_state )

          %td
            - unless campaign.aasm_state == 'campaign_finished'
              = link_to t( '.details' ), get_detail_path( campaign ), class: 'btn btn-secondary btn-sm btn-block', role: 'button', 'aria-disabled' => 'true'
            -else
              Gagnant :
              = campaign.winner.user.name

          -#%td= link_to 'Renommer', edit_campaign_path(campaign), class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'
          -#%td= link_to 'Supprimer', campaign, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'

  = link_to t( '.new' ), new_campaign_path, class: 'btn btn-secondary', role: 'button', 'aria-disabled' => 'true'


