%h1= t('.title')

= form_for @campaign do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= t( 'error_explanation_message', count: @campaign.errors.count, subject: 'cette campagne' )
      %ul
        - @campaign.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, t( '.name' )
    = f.text_field :name, class: 'form-control'

  .actions
    = f.submit t('.create'), class: 'btn btn-primary'