%h1= t('.title')

= form_for @campaign do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= t( 'error_explanation_message', count: @campaign.errors.count, subject: 'cette campagne' )
      %ul
        - @campaign.errors.full_messages.each do |message|
          %li= message

  - if @player&.errors&.any?
    #error_explanation_player
      %h2= t( 'error_explanation_message', count: @player.errors.count, subject: 'cette campagne' )
      %ul
        - @player.errors.full_messages.each do |message|
          %li= "Player : #{message}"

  .form-group
    = f.label :name, t( '.name' )
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :mode, t( '.mode' )

    .row.mb-2
      .col-6.col-lg-3
        %label.btn.btn-light.btn-block
          %input#option1{name: 'campaign[campaign_mode]', value: :test, type: :radio, autocomplete: :off, checked: true }
            = t( '.mode_test' )
      .col-6.col-lg-3
        %label.btn.btn-light.btn-block
          %input#option2{name: 'campaign[campaign_mode]', value: :regular, type: :radio, autocomplete: :off, disabled: true }
            = t( '.mode_regular' )

  .actions
    = f.submit t('.create'), class: 'btn btn-primary'