
= link_to 'Ajouter des joueurs', new_campaign_player_path( @campaign ), class: 'mt-3 btn btn-secondary', role: 'button', 'aria-disabled' => 'true'

%hr

.row.mb-3
  .col
    %button.btn.btn-secondary.btn-block{ type: :button }
      Créateur
      %span.badge.badge-light
        = @campaign.user.name

  .col
    %button.btn.btn-secondary.btn-block{ type: :button }
      Nom de la campagne
      %span.badge.badge-light
        = @campaign.name

  .col
    %button.btn.btn-secondary.btn-block{ type: :button }
      Joueurs
      %span.badge.badge-light
        = @players.map{ |e| e.user.name }.join( ', ' )

%table.table
  %thead
    %tr
      %th Log
      %th

  %tbody
    - @logs.each do |log|
      %tr
        %td= log.data
        %td= l( log.updated_at.localtime, format: :long ).capitalize

= will_paginate( @logs, previous_label: 'Log précédent', next_label: 'Log suivant', renderer: WillPaginate::ActionView::BootstrapLinkRenderer )




