.row.my-3

  .col-12.col-lg-4.mb-1
    %button.btn.btn-secondary.btn-block{ type: :button }
      Créateur
      %span.badge.badge-light
        = @campaign.user.name

  .col-12.col-lg-4.mb-1
    %button.btn.btn-secondary.btn-block{ type: :button }
      Nom de la campagne
      %span.badge.badge-light
        = @campaign.name

  .col-12.col-lg-4.mb-1
    %button.btn.btn-secondary.btn-block{ type: :button }
      Joueurs
      %span.badge.badge-light
        = @players.map{ |e| e.user.name }.join( ', ' )

.row.my-3
  .col-12.col-lg-4.mb-1
    %button.btn.btn-secondary.btn-block{ type: :button }
      Joueur
      %span.badge.badge-light
        = @player.user.name

  .col-12.col-lg-4.mb-1
    %button.btn.btn-secondary.btn-block{ type: :button }
      Tour
      %span.badge.badge-light
        = @campaign.turn

  -#.col-12.col-lg-4
  -#  %button.btn.btn-secondary.btn-block{ type: :button }
  -#    PP
  -#    %span.badge.badge-light
  -#      = @player.pp

- if @movements_finalized
  .row.my-3
    .col-12.col-lg-4
      = link_to t( '.move_bands' ), campaign_resolve_movements_path( @campaign ), class: 'btn btn-danger btn-block', role: 'button', 'aria-disabled' => 'true'

%hr

%table.table
  %thead
    %tr
      %th Log
      %th

  %tbody
    - @logs.each do |log|
      %tr
        %td= t( "log.#{log.category}.#{log.translation_string}".freeze, log.translation_data )
        %td= l( log.updated_at.localtime, format: :long ).capitalize

= will_paginate( @logs, previous_label: t( '.previous_login' ), next_label: t( '.next_login' ), renderer: WillPaginate::ActionView::BootstrapLinkRenderer )




