= form_for [@player, @gang] do |f|
  - if @gang.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gang.errors.count, "error")} prohibited this gang from being saved:"
      %ul
        - @gang.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :icon
  = f.hidden_field :number

  %b
    Localisation
  = f.select(:location, options_for_select(@select_localisations_options), {}, class: 'form-control')

  %b
    Nom
  = f.text_field :name, class: 'form-control'

  .mt-2.ml-2
    - @icons.each do |icon|
      = image_tag( 'gangs_icons/' + icon, class: 'gang_icon', gang_icon_name: icon )

  .actions.mt-2
    = f.submit 'Enregistrer', class: 'btn btn-secondary'
