= form_for [@campaign, @gang] do |f|
  - if @gang.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gang.errors.count, "error")} prohibited this gang from being saved:"
      %ul
        - @gang.errors.full_messages.each do |message|
          %li= message

  %b
    Faction

  = select_tag('select_faction', options_for_select(@select_factions_options), class: 'form-control')
  = hidden_field_tag :selected_gang_icon, nil

  .mt-2.ml-2
    - @icons.each do |icons_group_key, icons|
      .row{ class: "factions_icons #{icons_group_key}" }
        - icons.each do |icon|
          - next unless icon
          = image_tag( icon, class: 'gang_icon' )

  .actions.mt-2
    = f.submit 'Enregistrer', class: 'btn btn-secondary'
