%p#notice= notice

= render partial: 'maintenance_alert'

= link_to 'Ajouter une bande', new_player_gang_path( @player ), class: 'mb-3 btn btn-secondary', role: 'button', 'aria-disabled' => 'true'

%br

.table-responsive
  %table.table
    %thead
      %tr
        %th.d-none.d-lg-table-cell N°
        %th Bande
        %th
        %th Points
        %th Position
        %th
        %th.d-none.d-lg-table-cell
        %th

    %tbody
      - @gangs.each do |gang|
        %tr
          %td.d-none.d-lg-table-cell= gang.number
          %td= gang.name
          %td= image_tag( 'gangs_icons/' + gang.icon, class: 'gang_icon' )

          %td= gang.points
          %td= gang.location

          %td
            - if can_modify_gang?( gang )
              = link_to 'Modifier', gang_units_path( gang ), class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'

          %td.d-none.d-lg-table-cell= link_to 'Renommer', edit_gang_path( gang ), class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'

          %td= link_to 'Supprimer', [ gang ], method: :delete, data: { confirm: 'Etes-vous sur de vouloir supprimer cette bande ?' }, class: 'btn btn-secondary btn-sm', role: 'button', 'aria-disabled' => 'true'