%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  .collapse.navbar-collapse#mainMenu
    %ul.navbar-nav.mr-auto

      - if @current_user
        = dropdown_menu_block( 'Campagne actuelle' ) do
          = dropdown_sub_menu_link( 'Mes campagnes', campaigns_path )

          - if @campaign&.id
            .dropdown-divider
            = dropdown_sub_menu_link( 'Campagne actuelle', campaign_path( @campaign ) )
            = dropdown_sub_menu_link( 'Lieux controllés', campaign_controlled_points_path( @campaign ) )
            = dropdown_sub_menu_link( 'Initiative', campaign_initiative_edit_path( @campaign ) )

        - if @campaign&.id && @player&.id
          = dropdown_menu_block( 'Actions' ) do
            = dropdown_sub_menu_link( 'Combats', campaign_fights_path( @campaign ) )
            = dropdown_sub_menu_link( 'Bandes', player_gangs_path( @player ) )
            = dropdown_sub_menu_link( 'Joueur', campaign_player_path( @campaign, @player ) )

          = simple_menu_link( 'Carte', campaign_map_show_path( @campaign ) )

          = simple_menu_link( 'Règles', '/rules.pdf' )
          = simple_menu_link( 'Deconnection', '/auth/signout' )

      - else
        = simple_menu_link( 'Login', '/auth/discord' )
