%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Navbar
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      - if @current_user

        %li.nav-item
          = link_to 'Campagnes', campaigns_path, class: 'nav-link'

        - if @campaign&.id

          %li.nav-item
            = link_to 'Campagne actuelle', campaign_path( @campaign ), class: 'nav-link'

          %li.nav-item
            = link_to 'Bandes', campaign_gangs_path( @campaign ), class: 'nav-link'

          %li.nav-item
            = link_to 'Carte', campaign_map_show_path( @campaign ), class: 'nav-link'

          %li.nav-item
            = link_to 'Lieux controllés', campaign_controlled_points_path( @campaign ), class: 'nav-link'

          %li.nav-item
            = link_to 'Combats', campaign_fights_path( @campaign ), class: 'nav-link'

          - if @player&.id
            = link_to 'Joueur', campaign_player_path( @campaign, @player ), class: 'nav-link'

          %li.nav-item
            = link_to 'Initiative', campaign_initiative_edit_path( @campaign ), class: 'nav-link'


        %li.nav-item
          = link_to 'Règles', '/rules.pdf', class: 'nav-link'

        %li.nav-item
          = link_to 'Deconnection', '/auth/signout', class: 'nav-link'
      - else
        %li.nav-item
          = link_to 'Login', '/auth/discord', method: :post, class: 'nav-link'
