%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  .collapse.navbar-collapse#mainMenu
    %ul.navbar-nav.mr-auto

      - if @current_user
        = dropdown_menu_block( t('menu.campaigns') ) do
          = dropdown_sub_menu_link( t('menu.my_campaigns'), campaigns_path )

          - if @campaign&.id
            .dropdown-divider
            = dropdown_sub_menu_link( t('menu.current_campaign'), campaign_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.controlled_locations'), campaign_controlled_points_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.initiative'), campaign_initiative_edit_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.show_movements'), campaign_show_movements_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.combat_list'), campaign_fights_path( @campaign ) )
            = dropdown_sub_menu_link( "Points de victoire", campaign_show_victory_status_path( @campaign ) )

        - if @campaign&.id && @player&.id
          = render partial: 'layouts/action_menu'

          = simple_menu_link( t('menu.map'), campaign_map_show_path( @campaign ), target: '_blank' )

          = simple_menu_link( t('menu.map'), campaign_map_show_path( @campaign ), target: '_blank' )

          -#= simple_menu_link( t('menu.rules'), '/rules.pdf' )
          = simple_menu_link( t('menu.logout'), '/auth/signout' )

      - else
        = simple_menu_link( t('menu.login'), '/auth/discord' )

    - if @player&.id
      %span{ class: 'navbar-text' }
        PP
        = @player.pp