%nav.navbar.navbar-expand-lg.navbar-light.bg-light

  .collapse.navbar-collapse#mainMenu
    %ul.navbar-nav.mr-auto

      - if @current_user
        = dropdown_menu_block( t('menu.campaigns') ) do
          = dropdown_sub_menu_link( t('menu.my_campaigns'), campaigns_path )

          - if @campaign&.id
            .dropdown-divider
            = dropdown_sub_menu_link( t('menu.current_campaign'), campaign_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.controlled_locations'), campaign_controlled_points_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.initiative'), campaign_initiative_edit_path( @campaign ) )

        - if @campaign&.id && @player&.id
          = dropdown_menu_block( t('menu.actions') ) do
            = dropdown_sub_menu_link( t('menu.combats'), campaign_fights_path( @campaign ) )
            = dropdown_sub_menu_link( t('menu.gangs'), player_gangs_path( @player ) )
            = dropdown_sub_menu_link( t('menu.player'), campaign_player_path( @campaign, @player ) )

          = simple_menu_link( t('menu.map'), campaign_map_show_path( @campaign ) )

          = simple_menu_link( t('menu.rules'), '/rules.pdf' )
          = simple_menu_link( t('menu.logout'), '/auth/signout' )

      - else
        = simple_menu_link( t('menu.login'), '/auth/discord' )
